@charset "UTF-8";
@font-face {
  font-family: Shrikhand;
  src: url("shrikhand.regular.ttf");
}
.chargeur {
  background-color: white;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  animation: disparition 399ms 2801ms forwards;
}

.chargeur-rond {
  position: inherit;
  top: 22%;
  left: 33%;
  transform-origin: 50% 50%;
  animation: disparition-magique 850ms 150ms ease-in-out;
  animation-iteration-count: 3;
}

.progression__disque {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(355deg, #ade8d9 12.5%, #ff93e1);
}

@keyframes disparition-magique {
  33% {
    transform: scale(1);
  }
  66% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disparition {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.passage_aux_trois_petits_points {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-Word;
  overflow: hidden;
}

.barre_de_recherche {
  background-color: #d9d9d9;
}

.police-titre {
  font-family: "Shrikhand";
}

.lien {
  text-decoration: none;
  color: black;
}

.lien_blanc {
  text-decoration: none;
  color: white;
}

.titre {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.surligner_a_moitie {
  display: flex;
  flex-direction: row;
}

.surligner {
  border-bottom: 1px solid #99E2D0;
  padding: 0px 0px 10px 0px;
}

.centrer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hauteur_130 {
  margin: 40px 0px 40px 0px;
}

.corps {
  margin: 0px;
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  width: 100%;
}

.nav-logo {
  text-align: center;
  scale: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;
  height: 100px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .nav-logo {
    scale: 0.25;
  }
}

.barre_de_recherche {
  background-color: #d9d9d9;
}

.nav-localisation {
  font-size: 24px;
  border-top: 4px solid #bfbfbf;
  text-align: center;
  padding: 10px 0px 20px 0px;
}
.nav-localisation p {
  display: inline;
  font-size: 16px;
  margin-left: 50px;
  font-weight: 600;
}

.nav-descriptif {
  background-color: #F2F2F2;
  padding: 0px 0px 90px 0px;
  text-align: center;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .nav-descriptif {
    padding: 15px 0px 50px 0px;
  }
}
.nav-titre {
  font-size: 24px;
  font-weight: 900;
  margin: 0px 0px 30px 0px;
  padding: 30px 0px 0px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .nav-titre {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
  }
}
.nav-explication {
  font-size: 18px;
  margin: 0px 0px 60px 0px;
  padding: 10px 0px 10px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .nav-explication {
    margin: 0px 0px 20px 0px;
  }
}
.nav-bouton {
  display: inline;
  color: white;
  font-size: 19px;
  box-shadow: 3px 3px #e5e5e5, -3px 3px #e5e5e5;
  padding: 18px 30px 18px 30px;
  border-radius: 150px;
  background: linear-gradient(355deg, #9356DC 12.5%, #FF79DA);
  margin: 0px 0px 30px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .nav-bouton {
    margin: 0px 0px 0px 0px;
  }
}

.explorer :hover {
  background: linear-gradient(355deg, #a16be0 12.5%, #ff93e1);
  box-shadow: 6px 6px #e5e5e5, -6px 6px #e5e5e5;
}

.fonctionnement {
  padding: 50px 0px 50px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .fonctionnement {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.fonctionnement-titre {
  font-size: 24px;
  padding-inline-start: 0px;
  margin: 0px 30px 0px 30px;
}
.fonctionnement ul {
  list-style-type: none;
  margin: 0px 60px 0px 60px;
  padding-inline-start: 0px;
}
@media screen and (max-width: 365px) {
  .fonctionnement ul {
    margin: 0px 30px 0px 30px;
  }
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .fonctionnement ul {
    margin: 0px 15px 0px 15px;
  }
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .fonctionnement-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.fonctionnement-liste :hover {
  background-color: #f2eafb;
}
.fonctionnement-liste__element {
  border-radius: 20px;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  margin: 30px 0px 30px 0px;
  padding: 20px 0px 20px 0px;
  box-shadow: 4px 4px 4px #e5e5e5;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .fonctionnement-liste__element {
    margin: 0px 10px 0px 10px;
  }
}
.fonctionnement-liste__element p {
  font-size: 15px;
  font-weight: 500;
}

.fonctionnement_liste__titre {
  display: inline;
  margin: 0px 0px 0px 30px;
}
@media screen and (max-width: 500px) {
  .fonctionnement_liste__titre {
    margin: 0px 0px 0px 0px;
  }
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .fonctionnement_liste__titre {
    margin: 0px 10px 0px 0px;
  }
}

.fonctionnement-liste__numero_element {
  display: inline;
  border-radius: 40px;
  padding: 10px 10px 10px 15px;
  position: relative;
  left: -25px;
  top: 0px;
  background-color: #9356DC;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 18px;
  color: white;
}

.fonctionnement-liste :hover i {
  color: #9356DC;
}

.fonctionnement-liste :hover span {
  background-color: #9356DC;
}

.restaurants__et__titre {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 50px 0px 50px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .restaurants__et__titre {
    padding: 15px 0px 0px 0px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 650px) and (max-width: 1150px) {
  .restaurants {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .restaurants {
    display: flex;
    flex-direction: row;
  }
}

.deux_cartes_de_restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .deux_cartes_de_restaurants {
    display: flex;
    flex-direction: row;
  }
}

.restaurants-titre {
  margin-left: 30px;
  align-self: start;
  margin-bottom: 30px;
}
.restaurants-accroche {
  height: 300px;
  width: 95%;
  position: relative;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px #e5e5e5, -2px 2px #e5e5e5;
  margin: 10px 0px 10px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .restaurants-accroche {
    margin: 10px;
  }
}
.restaurants-accroche__titre {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .restaurants-accroche__titre {
    font-size: 15px;
  }
}
.restaurants-accroche__texte {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80px;
}
.restaurants-accroche__texte p {
  font-size: 18px;
}
.restaurants-accroche img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.restaurant-accroche__nouveau {
  display: inline;
  position: absolute;
  top: 2px;
  right: 10px;
  color: #278870;
  background-color: #99E2D0;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
}
.restaurant-accroche__pas_nouveau {
  display: none;
}
.restaurant-accroche__titre {
  display: flex;
  flex-direction: column;
}

.restaurants-accroche__commentaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.coeur {
  color: black;
  position: relative;
  z-index: 1;
}
.coeur:hover {
  color: transparent;
}
.coeur:hover .coeur_rempli {
  opacity: 1;
}
.coeur_rempli {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(355deg, #9356DC 12.5%, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: opacity 650ms;
}

.pied_de_page {
  position: relative;
  color: #ffffff;
  background-color: #262626;
  padding: 0px 0px 40px 0px;
}
.pied_de_page-titre {
  padding: 20px 0px 0px 0px;
}
.pied_de_page-lien {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 0px;
}
.pied_de_page-lien i {
  margin: 0px 15px 0px 0px;
}

.pied_de_page-titre_et_lien {
  padding: 0px 0px 0px 10px;
}

.corps-menu {
  height: 100%;
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.menu_et_titre {
  position: absolute;
  top: 350px;
  left: 0;
  border-radius: 50px 50px 0px 0px;
  background-color: #F2F2F2;
  width: 100%;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu_et_titre {
    background-color: transparent;
    position: absolute;
    top: 100px;
    left: 0;
  }
}

.menu__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu__navigation-fleche {
  font-size: 12px;
  position: absolute;
  top: 38px;
  left: 20px;
}
.menu__navigation-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;
  height: 100px;
}

.menu__navigation-logo {
  text-align: center;
  scale: 0.5;
}

.menu__image img {
  height: 300px;
  width: 100%;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu__image img {
    height: 630px;
  }
}

.menu__image-enchantée img {
  height: 300px;
  width: 100%;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu__image-enchantée img {
    height: 650px;
  }
}

.menu__image {
  position: relative;
  top: 0px;
  left: 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu__image {
    opacity: 50%;
  }
}

.menu__image-enchantée {
  position: relative;
  top: 0px;
  left: 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu__image-enchantée {
    opacity: 50%;
  }
}

.menu_et_image {
  width: 100%;
}

.menu__titre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 0px 0px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu__titre {
    color: black;
  }
}
.menu__titre-texte {
  font-size: 35px;
  font-weight: 900;
}

@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .Entrees, .Plats, .Desserts {
    width: 400px;
  }
}

.Entrees__titre, .Plats__titre, .Desserts__titre {
  display: inline-block;
  margin: 40px 0px 0px 20px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .Entrees__titre, .Plats__titre, .Desserts__titre {
    color: black;
  }
}

.Entrees__choix_1, .Entrees__choix_2, .Entrees__choix_3, .Entrees__choix_4, .Plats__choix_1, .Plats__choix_2, .Plats__choix_3, .Plats__choix_4, .Desserts__choix_1, .Desserts__choix_2, .Desserts__choix_3, .Desserts__choix_4 {
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px 0px 10px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .Entrees__choix_1, .Entrees__choix_2, .Entrees__choix_3, .Entrees__choix_4, .Plats__choix_1, .Plats__choix_2, .Plats__choix_3, .Plats__choix_4, .Desserts__choix_1, .Desserts__choix_2, .Desserts__choix_3, .Desserts__choix_4 {
    background-color: transparent;
    color: black;
    border: #9356DC 1px solid;
  }
}

.Entrees__choix_1, .Plats__choix_1, .Desserts__choix_1 {
  animation: apparitions_succesives 1000ms 250ms ease-in-out;
}

.Entrees__choix_2, .Plats__choix_2, .Desserts__choix_2 {
  animation: apparitions_succesives 2000ms 250ms ease-in-out;
}

.Entrees__choix_3, .Plats__choix_3, .Desserts__choix_3 {
  animation: apparitions_succesives 3000ms 250ms ease-in-out;
}

.Entrees__choix_4, .Plats__choix_4, .Desserts__choix_4 {
  animation: apparitions_succesives 4000ms 250ms ease-in-out;
}

@keyframes apparitions_succesives {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.Entrees__choix-pas_prix, .Plats__choix-pas_prix, .Desserts__choix-pas_prix, .Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px 0px 5px 0px;
  padding: 10px 0px 10px 10px;
}
@media screen and (min-width: 650px) and (max-width: 1150px) {
  .Entrees__choix-pas_prix, .Plats__choix-pas_prix, .Desserts__choix-pas_prix, .Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.Entrees__choix-nom, .Plats__choix-nom, .Desserts__choix-nom {
  font-weight: 700;
  font-size: 22px;
  margin: 5px 0px 5px 0px;
}
@media screen and (min-width: 650px) and (max-width: 1150px) {
  .Entrees__choix-nom, .Plats__choix-nom, .Desserts__choix-nom {
    padding: 0px 5px 0px 5px;
  }
}

.Entrees__choix-complement, .Plats__choix-complement, .Desserts__choix-complement {
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

.Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix {
  font-weight: 700;
  min-width: 30px;
}

.prix {
  font-size: 20px;
}
.prix__fantome {
  margin: 5px 0px 5px 0px;
  color: white;
  height: 22px;
}

.coché_vert_menthe {
  background-color: #99E2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  width: 0;
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: right;
}

.fa-circle-check {
  color: white;
  background-color: #99E2D0;
  font-size: 32px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: rotate(1turn);
  transform: rotate(0deg);
}

.Entrees__choix_1:hover > .coché_vert_menthe, .Entrees__choix_2:hover > .coché_vert_menthe, .Entrees__choix_3:hover > .coché_vert_menthe, .Entrees__choix_4:hover > .coché_vert_menthe, .Plats__choix_1:hover > .coché_vert_menthe, .Plats__choix_2:hover > .coché_vert_menthe, .Plats__choix_3:hover > .coché_vert_menthe, .Plats__choix_4:hover > .coché_vert_menthe, .Desserts__choix_1:hover > .coché_vert_menthe, .Desserts__choix_2:hover > .coché_vert_menthe, .Desserts__choix_3:hover > .coché_vert_menthe, .Desserts__choix_4:hover > .coché_vert_menthe {
  background-color: #99E2D0;
  border-radius: 0px 25px 25px 0px;
  padding: 0px 30px 0px 30px;
  transform-origin: right;
  transform: scaleX(1);
  transition: all 350ms;
}
.Entrees__choix_1:hover > .fa-circle-check, .Entrees__choix_2:hover > .fa-circle-check, .Entrees__choix_3:hover > .fa-circle-check, .Entrees__choix_4:hover > .fa-circle-check, .Plats__choix_1:hover > .fa-circle-check, .Plats__choix_2:hover > .fa-circle-check, .Plats__choix_3:hover > .fa-circle-check, .Plats__choix_4:hover > .fa-circle-check, .Desserts__choix_1:hover > .fa-circle-check, .Desserts__choix_2:hover > .fa-circle-check, .Desserts__choix_3:hover > .fa-circle-check, .Desserts__choix_4:hover > .fa-circle-check {
  transform: rotate(360deg);
  transition: all 350ms 100ms;
}

.menu__commander {
  box-shadow: 3px 3px #e5e5e5, -3px 3px #e5e5e5;
  background: linear-gradient(355deg, #9356DC 12.5%, #FF79DA);
  padding: 18px 60px 18px 60px;
  border-radius: 150px;
  color: white;
  font-size: 20px;
  display: block;
}

.bouton-hover :hover {
  background: linear-gradient(355deg, #a16be0 12.5%, #ff93e1);
  box-shadow: 6px 6px #e5e5e5, -6px 6px #e5e5e5;
  border-radius: 150px;
}

.centpxbottom {
  padding: 50px 0px 62px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .centpxbottom {
    padding: 0px 0px 0px 0px;
  }
}

.menu-pied_de_page_et_lien {
  padding: 0px 0px 0px 10px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu-pied_de_page_et_lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.menu-pied_de_page {
  position: relative;
  top: 1925px;
  left: 0px;
  width: 100%;
  color: #ffffff;
  background-color: #262626;
  padding: 0px 0px 40px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu-pied_de_page {
    position: absolute;
    top: 738px;
    left: 0;
    padding: 40px 0px 41px 0px;
  }
}
@media screen and (min-width: 650px) and (max-width: 1150px) {
  .menu-pied_de_page {
    position: absolute;
    top: 1625px;
    left: 0;
  }
}
.menu-pied_de_page-titre {
  padding: 20px 0px 0px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu-pied_de_page-titre {
    padding: 0px 0px 0px 0px;
  }
}
.menu-pied_de_page-lien {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 0px;
}
.menu-pied_de_page-lien i {
  margin: 0px 15px 0px 0px;
}

.menu-pied_de_page-enchantee {
  position: absolute;
  top: 2050px;
  left: 0px;
  width: 100%;
  color: #ffffff;
  background-color: #262626;
  padding: 0px 0px 40px 0px;
}
@media screen and (min-width: 1150px) and (max-width: 2000px) {
  .menu-pied_de_page-enchantee {
    position: absolute;
    top: 845px;
    left: 0;
    padding: 5px 0px 5px 0px;
  }
}
@media screen and (min-width: 650px) and (max-width: 1150px) {
  .menu-pied_de_page-enchantee {
    position: absolute;
    top: 1715px;
    left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
