@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/extensions";
@import "./Base/police";
@import "./Base/base";
@import "./Base/titres";
@import "./Composants/boutons";
@import "./Composants/fonds_momentanées";
@import "./Layout/pied_de_page";
@import "./Layout/animations";
.barre_de_recherche {
    background-color: darken($color-quatrieme, 10%);
}
.lien {
    text-decoration: none;
    color: black;
}
.lien_blanc {
    text-decoration: none;
    color: white;
}
.surligner_a_moitie {
    display: flex;
    flex-direction: row;
    font-style: normal;
    @extend .titre;
}
.surligner {
    border-bottom: 3px solid $color-tertiaire;
    @include padding-size(0px 0px 5px 0px);
}
.nav-bandeau {
    height: 55px;
    padding: 9px 0px 0px 0px;
}
.nav-logo {
    text-align: center;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:48px;
    padding: 3px 0px 3px 0px;
}
.menu-nav-logo {
    text-align: center;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:48px;
    padding: 12px 0px 2px 0px;
}
.barre_de_recherche {
    background-color: darken($color-quatrieme, 3%);
}
.nav-localisation {
    opacity: 0.9;
    border-top: 3px solid darken($color-quatrieme, 10%);
    text-align: center;
    @include padding-size(15px 0px 15px 0px);
    i {
        transform:scale(1);
    }
    p {
        display: inline;
        font-size: 16px;
        margin-left: 15px;
        font-weight: 500;
    }
}
.nav {
    &-descriptif {
    background-color: $color-quatrieme;
    @include padding-size(0px 0px 72px 0px);
    text-align: center;
    }
    &-titre {
    font-size: 24px;
    font-weight: 900;
    margin: 0px 50px 11px 50px;
    @include padding-size(37px 0px 0px 0px);
    }
    &-explication {
    font-size:18px;
    font-weight: 300;
    margin:0px 0px 44px 0px;
    }
    &-bouton {
    display: inline;
    color: white;
    font-size: 16px;
    box-shadow: 3px 3px darken($color-quatrieme, 5%), -3px 3px darken($color-quatrieme, 5%);
    @include padding-size(15px 19px 16px 19px);
    border-radius: 100px;
    background: linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire);
    }
}
.fonctionnement {
    padding: 48px 0px 48px 0px;
    &-titre {
    font-size: 24px;
    font-weight: 800;
    padding-inline-start: 0px;
    margin:0px 0px 25px 20px;
    }
    ul {
    list-style-type: none;
    margin: 0px 20px 0px 20px;
    padding-inline-start: 0px;
    }
    &-liste {
        & :hover {
            background-color: lighten($color-primaire, 35%);
        }
        &__element {
            border-radius: 20px;
            border: 1px solid $color-quatrieme;
            background-color: lighten($color-quatrieme, 1%);
            margin: 23px 1px 23px 11px;
            @include padding-size(28px 14px 25px 14px);
            box-shadow: 7px 7px 7px darken($color-quatrieme,5%);
            i {
                transform: scale(1.3);
                color: darken($color-quatrieme, 35%);
            }
            p {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
.fonctionnement_liste__titre {
    display: inline;
    margin: 0px 0px 0px 15px;
}
.fonctionnement-liste__numero_element {
    display: inline;
    border-radius: 25px;
    @include padding-size(5px 5px 3px 8px);
    position: relative;
    left: -25px;
    top: 0px;
    background-color: $color-primaire;
    font-size: 14px;
    color: white;
}
.fonctionnement-liste :hover i {
    color: $color-primaire;
}
.fonctionnement-liste :hover span {
    background-color: $color-primaire;
}
.restaurants__et__titre {
    display: flex;
    flex-direction: column;
    background-color: $color-quatrieme;
    padding:56px 0px 56px 0px;
}
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deux_cartes_de_restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
}
.restaurants {
    &-titre {
        margin: 0px 0px 12px 20px;
        align-self: start;
        font-weight: 800;
    }
    &-accroche {
        height: 250px;
        width: 95%;
        position: relative;
        border: 1px solid $color-quatrieme;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 2px 2px darken($color-quatrieme,5%), -2px 2px darken($color-quatrieme,5%);
        margin: 9px 0px 9px 0px;
        &__titre {
            font-size: 18px;
            font-weight:700;
        }
        &__texte {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 11px 0px 10px 0px;
            p {
                font-size: 18px;
                padding: 2px 0px 0px 0px;
            }
        }
        img {
            object-fit: cover;
            height:174px;
            width:100%;
            border-radius: 15px 15px 0px 0px;
        }
    }
}
.restaurant-accroche {
    &__nouveau {
        display:inline;
        position: absolute;
        top:2px;
        right:10px;
        color: darken($color-tertiaire, 40%);
        background-color: $color-tertiaire;
        padding: 10px 15px 10px 15px;
        border-radius: 2px;
        font-weight: 600;
        font-size: 16px;
        }
    &__pas_nouveau {
    display: none;
    }
    &__titre {
        display: flex;
        flex-direction: column;
    }
}
.restaurants-accroche__commentaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 0px 15px;
}
.coeur {
    color: black;
    position: relative;
    transform: scale(1.5);
    z-index: 1;
    &:hover {
        color: transparent;
        & .coeur_rempli {
            opacity: 1;
        }
    }
    &_rempli {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: -1;
    transition: opacity 650ms;
    }
}
.corps-menu {
    height:100%;
    margin: 0px 0px 0px 0px;
}
.menu {
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu_et_titre {
    position: absolute;
    top:283px; left:0;
    border-radius: 50px 50px 0px 0px;
    background-color: $color-quatrieme;
    width:100%;
}
.menu__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height:63px;
    &-fleche {
        font-size: 10px;
        position: absolute;
        left: 20px;
        padding: 5px 0px 0px 0px;
    }
    &-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    height: 100px;
    }
}
.menu__image img {
    height:275px;
    width: 100%;   
}
.menu__image-enchantée img {
    height: 300px;
    width: 100%;
}
.menu__image {
    position: relative;
    top: 0px; left: 0px;
}
.menu__image-enchantée {
    position: relative;
    top: 0px; left: 0px;
}
.menu_et_image {
    width:100%;
}
.menu__titre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    @include padding-size(32px 0px 0px 0px);
    &-texte {
    font-size: 28px;
    font-weight: 500;
    }
}
.Entrees{
    margin:0px 0px 0px 0px;
}
.Plats {
    margin:4px 0px 0px 0px;
}
.Plats-enchantee {
    margin:16px 0px 0px 0px;
}
.Desserts {
    margin:18.5px 0px 0px 0px;
}
.Desserts-enchantee {
    margin:18px 0px 0px 0px;
}
.Entrees__titre, .Plats__titre, .Desserts__titre {
    display: inline-block;
    margin:30px 0px 0px 22px;
    font-size: 16px;
    font-weight: 300;
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_1, &_2, &_3, &_4 {
        border-radius: 15px;
        background-color: #ffffff;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 14px 14px 0px 10px;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_1 {
        animation: apparitions_succesives 1000ms 250ms ease-in-out;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_2 {
        animation: apparitions_succesives 2000ms 250ms ease-in-out;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_3 {
        animation: apparitions_succesives 3000ms 250ms ease-in-out;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_4 {
        animation: apparitions_succesives 4000ms 250ms ease-in-out;
    }
}
@keyframes apparitions_succesives {
0% {
    transform: translateY(10px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}
}
.Entree__choix-nom_complement_et_prix, .Plat__choix-nom_complement_et_prix, .Dessert__choix-nom_complement_et_prix {
    display:flex;
    flex-direction: column;
    width: 100%;
}
.Entrees__choix-nom, .Plats__choix-nom, .Desserts__choix-nom {
    font-weight: 700;
    font-size: 18px;
    margin: 11px 0px 2px 11px;
    @extend .titre;
}
.Entrees__choix-complement_et_prix, .Plats__choix-complement_et_prix, .Desserts__choix-complement_et_prix {
    font-size: 15px;
    margin: 2px 0px 0px 11px;
    @extend .titre;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Entrees__choix-coché, .Plats__choix-coché, .Desserts__choix-coché {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.prix {
    font-size: 14px;
    font-weight: 700;
    margin: 2px 0px 0px 0px;
    @extend .titre;
}
.coché_vert_menthe {
    background-color: $color-tertiaire;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    margin: 0px 0px 0px 23px;
    width:0;
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: right;
}        
.fa-check {
    color: $color-tertiaire;
    font-size: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2.5px;
    border-radius: 100px;
    background-color: #ffffff;
    justify-content: center;
    transform: rotate(0deg);
}
.Entrees__choix-complement, .Plats__choix-complement, .Desserts__choix-complement {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-Word;
    overflow: hidden;
    @extend .titre;
    font-weight: 300;
    margin: 0px 0px 10px 0px;
}
.Entrees__choix {
    &_1, &_2, &_3, &_4 {
        &:hover {
            & .Entrees__choix-nom {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                word-wrap: break-Word;
                overflow: hidden;
            }
        }
    }
}
.Plats__choix {
    &_1, &_2, &_3, &_4 {
        &:hover {
            & .Plats__choix-nom {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                word-wrap: break-Word;
                overflow: hidden;
            }
        }
    }
}
.Desserts__choix {
    &_1, &_2, &_3, &_4 {
        &:hover {
            & .Desserts__choix-nom {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                word-wrap: break-Word;
                overflow: hidden;
            }
        }
    }
}
.Entrees__choix {
    &_1, &_2, &_3, &_4 {
        &:hover {
            & > .Entrees__choix-coché {                    
                & > .coché_vert_menthe {
                    background-color: $color-tertiaire;
                    border-radius: 0px 15px 15px 0px;
                    padding: 0px 30px 0px 30px;
                    transform-origin: right;
                    transform: scaleX(1);
                    transition: all 350ms;
                }
                & .fa-check {
                    transform: rotate(360deg);
                    transition: all 350ms;
                }
            }
        }
    }
}
.Plats__choix {
    &_1, &_2, &_3 {
        &:hover {
            & > .Plats__choix-coché {                    
                & > .coché_vert_menthe {
                    background-color: $color-tertiaire;
                    border-radius: 0px 15px 15px 0px;
                    padding: 0px 30px 0px 30px;
                    transform-origin: right;
                    transform: scaleX(1);
                    transition: all 350ms;
                }
                & .fa-check {
                    transform: rotate(360deg);
                    transition: all 350ms;
                }
            }
        }
    }
}
.Desserts__choix {
    &_1, &_2, &_3 {
        &:hover {
            & > .Desserts__choix-coché {                    
                & > .coché_vert_menthe {
                    background-color: $color-tertiaire;
                    border-radius: 0px 15px 15px 0px;
                    padding: 0px 30px 0px 30px;
                    transform-origin: right;
                    transform: scaleX(1);
                    transition: all 350ms;
                }
                & .fa-check {
                    transform: rotate(360deg);
                    transition: all 350ms;
                }
            }
        }
    }
}
.menu__commander {
    box-shadow: 3px 3px darken($color-quatrieme, 5%), -3px 3px darken($color-quatrieme, 5%);
    background: linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire); 
    @include padding-size(15px 50px 16px 50px);
    border-radius: 150px;
    color: white;
    font-size: 16px;
    display: block;
}
.bouton-hover :hover{
    background: linear-gradient(355deg, lighten($color-primaire,5%) 12.5%,lighten($color-secondaire,5%));
    box-shadow: 6px 6px darken($color-quatrieme, 5%), -6px 6px darken($color-quatrieme, 5%);
    border-radius: 150px;
}
.centpxbottom-enchantee {
    padding: 12px 0px 77px 0px;
}
.centpxbottom-française {
    padding: 12px 0px 82px 0px;
}
.centpxbottom {
    padding: 12px 0px 59px 0px;
}
@media screen and (min-width: 850px) and (max-width: 1150px) {
    .restaurants {
        display:flex;
        flex-direction: row;
    }
    .entrees {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%;
    }
    .Entrees__choix_1, .Entrees__choix_2, .Entrees__choix_3 {
        width:30%;
    }
    .Entrees__choix-nom, .Plats__choix-nom, .Desserts__choix-nom {
         padding: 0px 5px 0px 5px;
    }
    .Entrees__choix-pas_prix, .Plats__choix-pas_prix, .Desserts__choix-pas_prix {
        flex-direction: row;
    }
    .Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix {
        flex-direction: row;
        align-items: center;
    }
    .Entrees__choix-prix_et_coché, .Plats__choix-prix_et_coché, .Desserts__choix-prix_et_coché {
        flex-direction: row;
    }
}
@media screen and (min-width: 1150px) and (max-width: 1920px) {
    .nav {
        &-descriptif {
            padding: 15px 0px 50px 0px;
            }
        &-titre {
            padding: 10px 0px 10px 0px;
            margin: 10px 0px 10px 0px;
            }
        &-explication {
            margin: 0px 0px 20px 0px;
        }
        &-bouton {
            margin: 0px 0px 0px 0px;
        }
    }
    .fonctionnement {
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        ul {
            margin:0px 15px 0px 15px;
        }
        &-liste {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            &__element {
                margin: 0px 10px 0px 10px;
            }
        }
    }
    .fonctionnement_liste__titre {
        margin: 0px 10px 0px 0px;
    }
    .restaurants__et__titre {
        padding: 15px 0px 0px 0px;
    }
    .restaurants {
        display:flex;
        flex-direction: row;
    }
    .deux_cartes_de_restaurants {
        display: flex;
        flex-direction: row;
    }
    .restaurants {
        &-accroche {
                margin: 10px;
            }
            &__titre {
                font-size: 15px;
        }
    }
    .menu {
        flex-direction: row;
    }
    .menu_et_titre {
        background-color: transparent;
        position: absolute;
        top:100px; left:0;
    }
    .menu__image img {
        height: 630px;
    }
    .menu__image-enchantée img {
        height: 725px;
    }
    .menu__image {
        opacity:50%;
    }
    .menu__titre {
        color:black
    }
    .Entrees, .Plats, .Desserts {
        width: 400px;
    }
    .Entrees__titre, .Plats__titre, .Desserts__titre {
        color:black
    }
    .Entrees__choix, .Plats__choix, .Desserts__choix {
        &_1, &_2, &_3, &_4 {
            background-color: transparent;
            color:black;
            border: $color-primaire 1px solid;
        }
    }
    .centpxbottom {
        padding: 0px 0px 0px 0px;
    }
    .menu__image-enchantée {
        opacity:50%;
    }
}