$color-primaire: #9356DC;
$color-secondaire: #FF79DA ;
$color-tertiaire: #99E2D0;
$color-quatrieme:#F2F2F2;
$breakpoints__fonctionnement_ul: (
    mobile__fonctionnement_ul:365px
);
$breakpoints__hauteur-pied_de_page: (
    mobile__hauteur-pied_de_page:400px
);
$breakpoints__menu-commander: (
    mobile__menu-commander:400px
);
$breakpoints__2:(
    mobile-taille_2: 500px
);
$breakpoints__3:(
    mobile-taille_3: 650px
);
$breakpoints__4: (
    mobile-taille_4: 1000px
);
$breakpoints: (
     desktop: 1150px
);
$breakpoints__B: (
    desktop-2: 2000px
);
$breakpoints__C: (
    desktop-3: 2500px
);

@font-face {
    font-family: Shrikhand;
    src: url('shrikhand.regular.ttf')
}
@mixin padding-size ($padding: 15px 30px 15px 0px) { 
    padding:$padding;
    }
@mixin mobile-fonctionnement_ul {
    @media screen and (max-width: map-get($breakpoints__fonctionnement_ul, mobile__fonctionnement_ul)) {
           @content;   
    }
}
@mixin mobile-hauteur-pied_de_page {
    @media screen and (max-width: map-get($breakpoints__hauteur-pied_de_page, mobile__hauteur-pied_de_page)) {
           @content;   
    }
}
@mixin mobile-commander {
    @media screen and (max-width: map-get($breakpoints__menu-commander, mobile__menu-commander)) {
           @content;   
    }
}
@mixin mobile-taille_1 {
        @media screen and (max-width: map-get($breakpoints__2, mobile-taille_2)) {
            @content;
        }
    }   
@mixin mobile-taille_2 {
        @media screen and (min-width: map-get($breakpoints__2, mobile-taille_2)) and (max-width:map-get($breakpoints__3, mobile-taille_3)) {
            @content;
        }
    }
@mixin mobile-taille_3 {
        @media screen and (min-width: map-get($breakpoints__3, mobile-taille_3)) and (max-width:map-get($breakpoints__4, mobile-taille_4)) {
            @content;
        }
    }
@mixin mobile-taille_4 {
        @media screen and (min-width: map-get($breakpoints__4, mobile-taille_4)) and (max-width:map-get($breakpoints, desktop)) {
            @content;
        }
    }
@mixin tablette {
        @media screen and (min-width: map-get($breakpoints__3, mobile-taille_3)) and (max-width:map-get($breakpoints, desktop)) {
            @content;
        }
    }       
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) and (max-width:map-get($breakpoints__B, desktop-2)) {
        @content;
    }
}
@mixin desktop-2 {
    @media screen and (min-width: map-get($breakpoints__B, desktop-2)) and (max-width:map-get($breakpoints__C, desktop-3)) {
        @content;
    }
}
.chargeur {
    background-color: white;
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 0,9;
    animation: disparition 1000ms 199ms ease-in-out;
}
.chargeur-rond {
    width:200px;
    height:200px;
    position: inherit;
    left: 50%;
    top: 50%;
    animation: disparition-magique 1500ms 350ms forwards ease-in-out alternate 6; 
}
.progression {
    &__disque {
        width: 250px;
        height: 250px;
        position:absolute;
        border-radius: 50%;
        background: linear-gradient(355deg, lighten($color-tertiaire,5%) 12.5%,lighten($color-secondaire,5%));
        animation: progression-disque 3250ms ease-in-out 350ms;
        opacity: 0;
    }
}
@keyframes progression-disque{
    0% {
        transform: rotate('0');
    }
    7% {
        transform: rotate('180');
        opacity: 0.5;
    }
    14% {
        transform: rotate('270');
        opacity: 1;
    }
    22% {
        transform: rotate('315');
        opacity:0,75;
    }
    29% {
        transform: rotate('359');
        opacity: 0;
    }
    36% {
        transform: rotate('315');
        opacity: 0.5;
    }
    41% {
        transform: rotate('270');
        opacity: 1;
    }
    48% {
        transform: rotate('180');
        opacity:0,75;
    }
    58% {
        transform: rotate('0');
        opacity: 0;
    }
    56% {
        transform: rotate('315');
        opacity: 0.5;
    }
    72% {
        transform: rotate('270');
        opacity: 1;
    }
    75% {
        transform: rotate('180');
        opacity:0,75;
    }
    80% {
        transform: rotate('359');
        opacity: 0;
    }
    81% {
        transform: rotate('315');
        opacity: 0.5;
    }
    88% {
        transform: rotate('270');
        opacity: 1;
    }
    96% {
        transform: rotate('180');
        opacity:0,75;
    }
    100% {
        transform: rotate('0');
        opacity: 0;
    }
}
@keyframes disparition-magique{
    0% {
        
    }
    3% {
        transform:scale(0.9);
    }
    5% {
        transform:scale(1);
    }
    8% {
        transform:scale(1);
    }
    23% {
        transform:scale(0.13);
    }
    26% {
        transform:scale(0);
    }
    30% {
        transform:scale(0.07);
    }
    47% {
        transform:scale(0.66);
    }
    48% {
        transform:scale(0.61);
    }
    50% {
        transform:scale(0.63);
    }
    78% {
        transform:scale(0.07);
    }
    79% {
        transform:scale(0);
    }
    80% {
        transform:scale(0.04);
    }
    89% {
        transform:scale(0.10);
    }
    90% {
        transform:scale(0.11);
    }
    91% {
        transform:scale(0.08);
    }
    99% {
        transform:scale(0.01);
    }
    100% {
        transform:scale(0);
    }
}
@keyframes disparition {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(0);
    }
}
.police-titre {
    font-family: 'Shrikhand';
}
.lien {
    text-decoration: none;
    color: black;
}
.titre {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.surligner_a_moitie {
    display: flex;
    flex-direction: row;
}
.surligner {
    border-bottom: 1px solid $color-tertiaire;
    @include padding-size(0px 0px 10px 0px);
}
.centrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hauteur_130 {
    margin: 40px 0px 40px 0px;
}
.corps {
    margin: 0px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    width:100%;
}
.nav-logo {
    text-align: center;
    scale: 0.5;
}
.barre_de_recherche {
    background-color: darken($color-quatrieme, 10%);
}
.nav-localisation {
    font-size: 24px;
    border-top: 4px solid darken($color-quatrieme, 20%);
    text-align: center;
    @include padding-size(10px 0px 20px 0px);
    p {
        display: inline;
        font-size: 16px;
        margin-left: 50px;
        font-weight: 600;
    }
}
.nav {
    &-descriptif {
    background-color: $color-quatrieme;
    @include padding-size(0px 0px 90px 0px);
    @include desktop {
        padding: 15px 0px 50px 0px;
    }
    text-align: center;
    }
    &-titre {
    font-size: 24px;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
    @include desktop {
        padding: 10px 0px 10px 0px;
        margin: 10px 0px 10px 0px;
    }
    @include padding-size(30px 0px 0px 0px);
    }
    &-explication {
    font-size:18px;
    margin:0px 0px 60px 0px;
    padding:10px 0px 10px 0px;
    @include desktop {
        margin: 0px 0px 20px 0px;
    }
    }
    &-bouton {
    display: inline;
    color: white;
    font-size: 19px;
    box-shadow: 3px 3px darken($color-quatrieme, 5%), -3px 3px darken($color-quatrieme, 5%);
    @include padding-size(18px 30px 18px 30px);
    border-radius: 150px;
    background: linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire);
    margin: 0px 0px 30px 0px;
    @include desktop {
        margin: 0px 0px 0px 0px;
    }
    }
}
.explorer :hover {
    background: linear-gradient(355deg, lighten($color-primaire,5%) 12.5%,lighten($color-secondaire,5%));
    box-shadow: 6px 6px darken($color-quatrieme, 5%), -6px 6px darken($color-quatrieme, 5%);
}
.fonctionnement {
    padding: 50px 0px 50px 0px;
    @include desktop {
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    &-titre {
    font-size: 24px;
    padding-inline-start: 0px;
    margin:0px 30px 0px 30px;
    }
    ul {
    list-style-type: none;
    margin: 0px 60px 0px 60px;
    @include mobile-fonctionnement_ul {
        margin: 0px 30px 0px 30px;
    }
    padding-inline-start: 0px;
    @include desktop {
        margin:0px 15px 0px 15px;
    }
    }
    &-liste {
        @include desktop {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }
        & :hover {
            background-color: lighten($color-primaire, 35%);
        }
        &__element {
            border-radius: 20px;
            border: 1px solid $color-quatrieme;
            background-color: $color-quatrieme;
            margin: 30px 0px 30px 0px;
            @include padding-size(20px 0px 20px 0px);
            box-shadow: 4px 4px 4px darken($color-quatrieme,5%);
            @include desktop {
                margin: 0px 10px 0px 10px;
            }
            p {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}
.fonctionnement_liste__titre {
    display: inline;
    margin: 0px 0px 0px 30px;
    @include mobile-taille_1 {
        margin:0px 0px 0px 0px;
        }
    @include desktop {
        margin: 0px 10px 0px 0px;
    }
}
.fonctionnement-liste__numero_element {
    display: inline;
    border-radius: 40px;
    @include padding-size(10px 10px 10px 15px);
    position: relative;
    left: -25px;
    top: 0px;
    background-color: $color-primaire;
    margin-left: 0px;
    margin-right:0px;
    font-size: 18px;
    color: white;
}
.fonctionnement-liste :hover i {
    color: $color-primaire;
}
.fonctionnement-liste :hover span {
    background-color: $color-primaire;
}
.restaurants__et__titre {
    display: flex;
    flex-direction: column;
    background-color: $color-quatrieme;
    padding:50px 0px 50px 0px;
    @include desktop {
        padding: 15px 0px 0px 0px;
    }
}
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablette {
        display:flex;
        flex-direction: row;
    }
    @include desktop {
        display:flex;
        flex-direction: row;
    }
}
.deux_cartes_de_restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    @include desktop {
        display: flex;
        flex-direction: row;
    }
}
.restaurants {
    &-titre {
        margin-left: 30px;
        align-self: start;
        margin-bottom: 30px;
    }
    &-accroche {
        height: 300px;
        width: 95%;
        position: relative;
        border: 1px solid $color-quatrieme;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 2px 2px darken($color-quatrieme,5%), -2px 2px darken($color-quatrieme,5%);
        margin: 10px 0px 10px 0px;
        @include desktop {
            margin: 10px;
        }
        &__titre {
            font-size: 20px;
            font-weight:700;
            @include desktop {
                font-size: 15px;
            }
        }
        &__texte {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height:80px;
            p {
                font-size: 18px;
            }
        }
        img {
            object-fit: cover;
            height:200px;
            width:100%;
            border-radius: 15px 15px 0px 0px;
        }
    }
}
.restaurant-accroche {
    &__nouveau {
        display:inline;
        position: absolute;
        top:2px;
        right:10px;
        color: darken($color-tertiaire, 40%);
        background-color: $color-tertiaire;
        padding: 10px 15px 10px 15px;
        border-radius: 2px;
        font-weight: 600;
        font-size: 16px;
        }
    &__pas_nouveau {
    display: none;
    }
    &__titre {
        display: flex;
        flex-direction: column;
    }
}
.restaurants-accroche__commentaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px 0px 30px;
}
.coeur {
    color: black;
    position: relative;
    z-index: 1;
    &:hover {
        color: transparent;
        & .coeur_rempli {
            opacity: 1;
        }
    }
    &_rempli {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: -1;
    transition: opacity 650ms;
    }
}
.pied_de_page {
    position: absolute;
    top:2325px; left:0px;
    width: 100%;
    @include tablette {
        position: absolute;
        top: 1690px; left:0;
    }
    @include desktop {
        position: absolute;
        top:850px; left:0;
    }
    color: #ffffff;
    background-color: darken($color-quatrieme, 80%);
    @include padding-size(0px 0px 40px 0px);
    &-titre {
    padding: 20px 0px 0px 0px;
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px 0px 0px 0px;
    i {
        margin: 0px 15px 0px 0px;
    }
    }
}
.pied_de_page-titre_et_lien {
    padding: 0px 0px 0px 10px;
}
.corps-menu {
    height:100%;
    margin: 0px 0px 0px 0px;
}
.menu {
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.menu_et_titre {
    position: absolute;
    top:350px; left:0;
    border-radius: 50px 50px 0px 0px;
    background-color: $color-quatrieme;
    width:100%;
    @include desktop {
        background-color: transparent;
        position: absolute;
        top:100px; left:0;
    }
}
.menu__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    &-fleche {
        font-size: 12px;
        position: absolute;
        top: 38px; left: 20px;
    }
    &-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    height: 100px;
    }
}
.menu__navigation-logo {
    text-align: center;
    scale: 0.5;
}
.menu__image img {
    height: 300px;
    width: 100%;
    @include desktop {
        height: 630px;
     }   
}
.menu__image-enchantee img {
    height: 300px;
    width: 100%;
    @include desktop {
        height: 720px;
     }   
}
.menu__image {
    position: relative;
    top: 0px; left: 0px;
    @include desktop {
        opacity:50%;
    }
}
.menu__image-enchantee {
    position: relative;
    top: 0px; left: 0px;
    @include desktop {
        opacity:50%;
    }
}
.menu_et_image {
    width:100%;
}
.menu__titre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    @include desktop {
        color:black
    }
    @include padding-size(20px 0px 0px 0px);
    &-texte {
    font-size: 35px;
    font-weight: 900;
    @include mobile-hauteur-pied_de_page {
        font-size: 24px;
    }
    }
}
.Entrees__titre, .Plats__titre, .Desserts__titre {
    display: inline-block;
    margin:40px 0px 0px 20px;
    @include desktop {
        color:black
    }
    @include mobile-hauteur-pied_de_page {
        font-size: 15px;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    @include padding-size(10px 10px 10px 10px);
    border-radius: 25px;
    background-color: #ffffff;
    @include desktop {
        background-color: transparent;
        color:black;
        border: $color-primaire 1px solid;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px 0px 10px;
}
.Entrees__choix:hover, .Plats__choix:hover, .Desserts__choix:hover{
    background: linear-gradient(to right,#ffffff 80%, $color-tertiaire 80% 100%);
    border-radius: 25px;
    @include desktop {
        background: linear-gradient(to right,transparent 80%, $color-tertiaire 80% 100%);
        border:#99E2D0 1px solid;
    }
}
.Entrees__choix-pas_prix, .Plats__choix-pas_prix, .Desserts__choix-pas_prix,.Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 0px 5px 0px;
    @include tablette {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.Entrees__choix-nom, .Plats__choix-nom, .Desserts__choix-nom {
    font-weight: 700;
    font-size: 22px;
    margin: 5px 0px 5px 0px;
    @include mobile-hauteur-pied_de_page {
        font-size: 15px;
    }
    @include tablette {
        padding: 0px 5px 0px 5px;
    }
}
.Entrees__choix-complement, .Plats__choix-complement, .Desserts__choix-complement {
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    @include mobile-hauteur-pied_de_page {
        font-size: 15px;
    }
}
.Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix{
    font-weight: 700;
}
.prix {
    margin: 5px 0px 5px 0px;
    @include mobile-hauteur-pied_de_page {
        font-size: 15px;
    }
    &__fantome {
        margin: 5px 0px 5px 0px;
        color: transparent;
    }
}
.menu__commander {
    box-shadow: 3px 3px darken($color-quatrieme, 5%), -3px 3px darken($color-quatrieme, 5%);
    background: linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire); 
    @include padding-size(18px 60px 18px 60px);
    border-radius: 150px;
    margin:0px 0px 15px 0px;
    display: inline;
    color: white;
    font-size: 20px;
    @include mobile-hauteur-pied_de_page {
        font-size: 15px;
    }
}
.bouton-hover :hover{
    background: linear-gradient(355deg, lighten($color-primaire,5%) 12.5%,lighten($color-secondaire,5%));
    box-shadow: 6px 6px darken($color-quatrieme, 5%), -6px 6px darken($color-quatrieme, 5%);
}
.centpxbottom {
    padding: 50px 0px 62px 0px;
    @include desktop {
        padding: 0px 0px 0px 0px;
    }
    @include mobile-commander {
        padding: 10px 0px 10px 0px;
    }
}
.menu-pied_de_page {
    position: absolute;
    top:1925px; left:0px;
    width: 100%;
    @include desktop {
        position: absolute;
        top:738px; left:0;
        padding: 40px 0px 41px 0px;
    }
    @include tablette {
        position: absolute;
        top:1625px; left:0;
    }
    @include mobile_hauteur-pied_de_page {
        position: absolute;
        top: 1690px; left:0px;
    }
    color: #ffffff;
    background-color: darken($color-quatrieme, 80%);
    @include padding-size(0px 0px 40px 0px);
    &-titre {
    padding: 20px 0px 0px 0px;
    @include desktop {
        padding: 0px 0px 0px 0px;
    }
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px 0px 0px 0px;
    i {
        margin: 0px 15px 0px 0px;
    }
    }
}
.menu-pied_de_page-enchantee {
    position: absolute;
    top:2000px; left:0px;
    width: 100%;
    @include desktop {
        position: absolute;
        top:810px; left:0;
        padding: 5px 0px 5px 0px;
    }
    @include tablette {
        position:absolute;
        top:1715px; left:0;
    }
    @include mobile_hauteur-pied_de_page {
        position: absolute;
        top: 1825px; left:0px;
    }
    color: #ffffff;
    background-color: darken($color-quatrieme, 80%);
    @include padding-size(0px 0px 40px 0px);
}
.menu-pied_de_page_et_lien {
    padding: 0px 0px 0px 10px;
    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
