$color-primaire: #9356DC;
$color-secondaire: #FF79DA ;
$color-tertiaire: #99E2D0;
$color-quatrieme:#F2F2F2;
@font-face {
    font-family: Shrikhand;
    src: url('shrikhand.regular.ttf')
}
@mixin padding-size ($padding: 15px 30px 15px 0px) { 
    padding:$padding;
}
.chargeur {
    background-color: white;
    position: fixed;
    z-index: 999;
    height:100%;
    width: 100%;
    opacity:0.7;
    animation: disparition  399ms 2801ms forwards;
}
.chargeur-rond {
    position: inherit;
    top:40%; left:35%;
    transform-origin: 50% 50%;
    animation: disparition-magique 850ms 150ms ease-in-out;
    animation-iteration-count: 3;
}
.progression {
    &__disque {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(355deg, lighten($color-tertiaire,5%) 12.5%,lighten($color-secondaire,5%));
    }
}
@keyframes disparition-magique{
    0% {
        
    }
    33% {
        transform:scale(1);
    }
    66% {
        transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}
@keyframes disparition {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(0);
    }
}
.passage_aux_trois_petits_points {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-Word;
    overflow: hidden;
}
.barre_de_recherche {
    background-color: darken($color-quatrieme, 10%);
}
.police-titre {
    font-family: 'Shrikhand';
}
.lien {
    text-decoration: none;
    color: black;
}
.lien_blanc {
    text-decoration: none;
    color: white;
}
.titre {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.surligner_a_moitie {
    display: flex;
    flex-direction: row;
}
.surligner {
    border-bottom: 1px solid $color-tertiaire;
    @include padding-size(0px 0px 10px 0px);
}
.centrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hauteur_130 {
    margin: 40px 0px 40px 0px;
}
.corps {
    margin: 0px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    width:100%;
}
.nav-logo {
    text-align: center;
    scale: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    height: 100px;
}
.barre_de_recherche {
    background-color: darken($color-quatrieme, 10%);
}
.nav-localisation {
    font-size: 24px;
    border-top: 4px solid darken($color-quatrieme, 20%);
    text-align: center;
    @include padding-size(10px 0px 20px 0px);
    p {
        display: inline;
        font-size: 16px;
        margin-left: 50px;
        font-weight: 600;
    }
}
.nav {
    &-descriptif {
    background-color: $color-quatrieme;
    @include padding-size(0px 0px 90px 0px);
    text-align: center;
    }
    &-titre {
    font-size: 24px;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
    @include padding-size(30px 0px 0px 0px);
    }
    &-explication {
    font-size:18px;
    margin:0px 0px 60px 0px;
    padding:10px 0px 10px 0px;
    }
    &-bouton {
    display: inline;
    color: white;
    font-size: 19px;
    box-shadow: 3px 3px darken($color-quatrieme, 5%), -3px 3px darken($color-quatrieme, 5%);
    @include padding-size(18px 30px 18px 30px);
    border-radius: 150px;
    background: linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire);
    margin: 0px 0px 30px 0px;
    }
}
.explorer :hover {
    background: linear-gradient(355deg, lighten($color-primaire,5%) 12.5%,lighten($color-secondaire,5%));
    box-shadow: 6px 6px darken($color-quatrieme, 5%), -6px 6px darken($color-quatrieme, 5%);
}
.fonctionnement {
    padding: 50px 0px 50px 0px;
    &-titre {
    font-size: 24px;
    padding-inline-start: 0px;
    margin:0px 30px 0px 30px;
    }
    ul {
    list-style-type: none;
    margin: 0px 60px 0px 60px;
    padding-inline-start: 0px;
    }
    &-liste {
        & :hover {
            background-color: lighten($color-primaire, 35%);
        }
        &__element {
            border-radius: 20px;
            border: 1px solid $color-quatrieme;
            background-color: $color-quatrieme;
            margin: 30px 0px 30px 0px;
            @include padding-size(20px 0px 20px 0px);
            box-shadow: 4px 4px 4px darken($color-quatrieme,5%);
            p {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}
.fonctionnement_liste__titre {
    display: inline;
    margin: 0px 0px 0px 30px;
}
.fonctionnement-liste__numero_element {
    display: inline;
    border-radius: 40px;
    @include padding-size(10px 10px 10px 15px);
    position: relative;
    left: -25px;
    top: 0px;
    background-color: $color-primaire;
    margin-left: 0px;
    margin-right:0px;
    font-size: 18px;
    color: white;
}
.fonctionnement-liste :hover i {
    color: $color-primaire;
}
.fonctionnement-liste :hover span {
    background-color: $color-primaire;
}
.restaurants__et__titre {
    display: flex;
    flex-direction: column;
    background-color: $color-quatrieme;
    padding:50px 0px 50px 0px;
}
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deux_cartes_de_restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
}
.restaurants {
    &-titre {
        margin-left: 30px;
        align-self: start;
        margin-bottom: 30px;
    }
    &-accroche {
        height: 300px;
        width: 95%;
        position: relative;
        border: 1px solid $color-quatrieme;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 2px 2px darken($color-quatrieme,5%), -2px 2px darken($color-quatrieme,5%);
        margin: 10px 0px 10px 0px;
        &__titre {
            font-size: 20px;
            font-weight:700;
        }
        &__texte {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height:80px;
            p {
                font-size: 18px;
            }
        }
        img {
            object-fit: cover;
            height:200px;
            width:100%;
            border-radius: 15px 15px 0px 0px;
        }
    }
}
.restaurant-accroche {
    &__nouveau {
        display:inline;
        position: absolute;
        top:2px;
        right:10px;
        color: darken($color-tertiaire, 40%);
        background-color: $color-tertiaire;
        padding: 10px 15px 10px 15px;
        border-radius: 2px;
        font-weight: 600;
        font-size: 16px;
        }
    &__pas_nouveau {
    display: none;
    }
    &__titre {
        display: flex;
        flex-direction: column;
    }
}
.restaurants-accroche__commentaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px 0px 30px;
}
.coeur {
    color: black;
    position: relative;
    z-index: 1;
    &:hover {
        color: transparent;
        & .coeur_rempli {
            opacity: 1;
        }
    }
    &_rempli {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: -1;
    transition: opacity 650ms;
    }
}
.pied_de_page {
    position: relative;
    color: #ffffff;
    background-color: darken($color-quatrieme, 80%);
    @include padding-size(0px 0px 40px 0px);
    &-titre {
    padding: 20px 0px 0px 0px;
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px 0px 0px 0px;
    i {
        margin: 0px 15px 0px 0px;
    }
    }
}
.pied_de_page-titre_et_lien {
    padding: 0px 0px 0px 10px;
}
.corps-menu {
    height:100%;
    margin: 0px 0px 0px 0px;
}
.menu {
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu_et_titre {
    position: absolute;
    top:350px; left:0;
    border-radius: 50px 50px 0px 0px;
    background-color: $color-quatrieme;
    width:100%;
}
.menu__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    &-fleche {
        font-size: 12px;
        position: absolute;
        top: 38px; left: 20px;
    }
    &-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    height: 100px;
    }
}
.menu__navigation-logo {
    text-align: center;
    scale: 0.5;
}
.menu__image img {
    height: 300px;
    width: 100%;   
}
.menu__image-enchantée img {
    height: 300px;
    width: 100%;
}
.menu__image {
    position: relative;
    top: 0px; left: 0px;
}
.menu__image-enchantée {
    position: relative;
    top: 0px; left: 0px;
}
.menu_et_image {
    width:100%;
}
.menu__titre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    @include padding-size(20px 0px 0px 0px);
    &-texte {
    font-size: 35px;
    font-weight: 900;
    }
}
.Entrees__titre, .Plats__titre, .Desserts__titre {
    display: inline-block;
    margin:40px 0px 0px 20px;
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_1, &_2, &_3, &_4 {
        border-radius: 15px;
        background-color: #ffffff;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 10px 0px 10px;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_1 {
        animation: apparitions_succesives 1000ms 250ms ease-in-out;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_2 {
        animation: apparitions_succesives 2000ms 250ms ease-in-out;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_3 {
        animation: apparitions_succesives 3000ms 250ms ease-in-out;
    }
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_4 {
        animation: apparitions_succesives 4000ms 250ms ease-in-out;
    }
}
@keyframes apparitions_succesives {
0% {
    transform: translateY(10px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}
}
.Entrees__choix-pas_prix, .Plats__choix-pas_prix, .Desserts__choix-pas_prix,.Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    padding:10px 0px 10px 10px;
}
.Entrees__choix-nom, .Plats__choix-nom, .Desserts__choix-nom {
    font-weight: 700;
    font-size: 22px;
    margin: 5px 0px 5px 0px;
}
.Entrees__choix-complement, .Plats__choix-complement, .Desserts__choix-complement {
    font-size: 20px;
    margin: 5px 0px 5px 0px;
}
.Entrees__choix-prix_et_coché, .Plats__choix-prix_et_coché, .Desserts__choix-prix_et_coché {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix{
    font-weight: 700;
    min-width: 30px;
}
.prix {
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    &__fantome {
        margin: 5px 0px 5px 0px;
        color: white;
        height: 22px;
    }
}
.coché_vert_menthe {
    background-color: $color-tertiaire;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    margin: 0px 0px 0px 10px;
    width:0;
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: right;
}        
.fa-circle-check {
    color: white;
    background-color: $color-tertiaire;
    font-size: 32px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
}
.Entrees__choix, .Plats__choix, .Desserts__choix {
    &_1, &_2, &_3, &_4{
        &:hover {
            & > .Entrees__choix-prix_et_coché, .Plats__choix-prix_et_coché, .Desserts__choix-prix_et_coché {
                & > .coché_vert_menthe {
                    background-color: $color-tertiaire;
                    border-radius: 0px 15px 15px 0px;
                    padding: 0px 30px 0px 30px;
                    transform-origin: right;
                    transform: scaleX(1);
                    transition: all 350ms;
                }
                & .fa-circle-check {
                    transform: rotate(-720deg);
                    transition: all 350ms;
                }
                & > .prix {
                    padding: 0px 10px 0px 0px;
                }
            }
        }
    }
}
.menu__commander {
    box-shadow: 3px 3px darken($color-quatrieme, 5%), -3px 3px darken($color-quatrieme, 5%);
    background: linear-gradient(355deg, $color-primaire 12.5%,$color-secondaire); 
    @include padding-size(18px 60px 18px 60px);
    border-radius: 150px;
    color: white;
    font-size: 20px;
    display: block;
}
.bouton-hover :hover{
    background: linear-gradient(355deg, lighten($color-primaire,5%) 12.5%,lighten($color-secondaire,5%));
    box-shadow: 6px 6px darken($color-quatrieme, 5%), -6px 6px darken($color-quatrieme, 5%);
    border-radius: 150px;
}
.centpxbottom {
    padding: 12px 0px 60px 0px;
}
.menu-pied_de_page_et_lien {
    padding: 0px 0px 0px 10px;
}
.menu-pied_de_page {
    position: relative;
    top:1442px; left:0px;
    width: 100%;
    color: #ffffff;
    background-color: darken($color-quatrieme, 80%);
    @include padding-size(0px 0px 40px 0px);
    &-titre {
        padding: 20px 0px 0px 0px;
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px 0px 0px 0px;
    i {
        margin: 0px 15px 0px 0px;
    }
    }
}
.menu-pied_de_page-enchantee {
    position: absolute;
    top:1950px; left:0px;
    width: 100%;
    color: #ffffff;
    background-color: darken($color-quatrieme, 80%);
    @include padding-size(0px 0px 40px 0px);
}
@media screen and (min-width: 850px) and (max-width: 1150px) {
    .restaurants {
        display:flex;
        flex-direction: row;
    }
    .Entrees__choix-pas_prix, .Plats__choix-pas_prix, .Desserts__choix-pas_prix,.Entrees__choix-prix, .Plats__choix-prix, .Desserts__choix-prix {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Entrees__choix-nom, .Plats__choix-nom, .Desserts__choix-nom {
         padding: 0px 5px 0px 5px;
    }
    .menu-pied_de_page {
        position: absolute;
        top:1625px; left:0;
    }
    .menu-pied_de_page-enchantee {
        position:absolute;
        top:1615px; left:0;
    }
}
@media screen and (min-width: 1150px) and (max-width: 1920px) {
    .chargeur-rond {
        top:22%; left:33%;
        transform-origin: 50% 50%;
    }
    .progression {
        &__disque {
                width: 500px;
                height: 500px;
        }
    }
    .nav-logo {
            scale:0.25 
    }
    .nav {
        &-descriptif {
            padding: 15px 0px 50px 0px;
            }
        &-titre {
            padding: 10px 0px 10px 0px;
            margin: 10px 0px 10px 0px;
            }
        &-explication {
            margin: 0px 0px 20px 0px;
        }
        &-bouton {
            margin: 0px 0px 0px 0px;
        }
    }
    .fonctionnement {
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        ul {
            margin:0px 15px 0px 15px;
        }
        &-liste {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            &__element {
                margin: 0px 10px 0px 10px;
            }
        }
    }
    .fonctionnement_liste__titre {
        margin: 0px 10px 0px 0px;
    }
    .restaurants__et__titre {
        padding: 15px 0px 0px 0px;
    }
    .restaurants {
        display:flex;
        flex-direction: row;
    }
    .deux_cartes_de_restaurants {
        display: flex;
        flex-direction: row;
    }
    .restaurants {
        &-accroche {
                margin: 10px;
            }
            &__titre {
                font-size: 15px;
        }
    }
    .menu {
        flex-direction: row;
    }
    .menu_et_titre {
        background-color: transparent;
        position: absolute;
        top:100px; left:0;
    }
    .menu__image img {
        height: 630px;
    }
    .menu__image-enchantée img {
        height: 635px;
    }
    .menu__image {
        opacity:50%;
    }
    .menu__titre {
        color:black
    }
    .Entrees, .Plats, .Desserts {
        width: 400px;
    }
    .Entrees__titre, .Plats__titre, .Desserts__titre {
        color:black
    }
    .Entrees__choix, .Plats__choix, .Desserts__choix {
        &_1, &_2, &_3, &_4 {
            background-color: transparent;
            color:black;
            border: $color-primaire 1px solid;
        }
    }
    .centpxbottom {
        padding: 0px 0px 0px 0px;
    }
    .menu-pied_de_page_et_lien {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .menu-pied_de_page {
        position: absolute;
        top:730px; left:0;
        padding: 40px 0px 41px 0px;
        &-titre {
            padding: 0px 0px 0px 0px;
        }
    }
    .menu-pied_de_page-enchantee {
        position: absolute;
        top:830px; left:0;
        padding: 5px 0px 5px 0px;
    }
    .menu__image-enchantée {
        opacity:50%;
    }
}