.passage_aux_trois_petits_points {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-Word;
    overflow: hidden;
}
.titre {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.police-titre {
    font-family: 'Shrikhand';
}