.chargeur {
    background-color: white;
    position: fixed;
    z-index: 999;
    height:100%;
    width: 100%;
    opacity:0.7;
    animation: disparition  399ms 2801ms forwards;
}
.chargeur-rond {
    position: inherit;
    top:40%; left:35%;
    transform-origin: 50% 50%;
    animation: disparition-magique 850ms 150ms ease-in-out;
    animation-iteration-count: 3;
}
.progression {
    &__disque {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(355deg, lighten($color-tertiaire,5%) 12.5%,lighten($color-secondaire,5%));
    }
}
@media screen and (min-width: 850px) and (max-width: 1150px) {
    .chargeur-rond {
        top:36%; left:39%;
        transform-origin: 50% 50%;
    }
    .progression {
        &__disque {
            width: 200px;
            height: 200px;
        }
    }
}
@media screen and (min-width: 1150px) and (max-width: 1920px) {
    .chargeur-rond {
        top:22%; left:33%;
        transform-origin: 50% 50%;
    }
    .progression {
        &__disque {
            width: 500px;
            height: 500px;
        }
    }
}

@keyframes disparition-magique{
    0% {
        
    }
    33% {
        transform:scale(1);
    }
    66% {
        transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}
@keyframes disparition {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(0);
    }
}