.pied_de_page {
    position: relative;
    color: #ffffff;
    background-color: darken($color-quatrieme, 75%);
    padding: 0px 0px 36px 0px;
    &-titre {
    padding: 22px 0px 12px 0px;
    font-size: 18px;
    font-weight: 400;
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:6px 0px 0px 0px;
    }
    i {
        width:10px;
        margin: 0px 12px 0px 0px;
    }
}
.couverts {
    transform: scale(0.8);
}
.échanges {
    transform: scale(0.7);
}
.mentions, .contact {
    padding: 7px 0px 0px 0px;
}
.pied_de_page-titre_et_lien {
    padding: 0px 0px 0px 26px;
    p {
        font-size: 16px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}
.menu__pied_de_page {
    position: relative;
    top:1100px;
    color: #ffffff;
    background-color: darken($color-quatrieme, 75%);
    padding: 0px 0px 36px 0px;
    &-titre {
    padding: 22px 0px 12px 0px;
    font-size: 18px;
    font-weight: 400;
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:6px 0px 0px 0px;
    }
    i {
        width:10px;
        margin: 0px 12px 0px 0px;
    }
}
.menu__pied_de_page-titre_et_lien {
    padding: 0px 0px 0px 26px;
    p {
        font-size: 16px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}
.menu_française__pied_de_page {
    position: relative;
    top:1125px;
    color: #ffffff;
    background-color: darken($color-quatrieme, 75%);
    padding: 0px 0px 36px 0px;
    &-titre {
    padding: 22px 0px 12px 0px;
    font-size: 18px;
    font-weight: 400;
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:6px 0px 0px 0px;
    }
    i {
        width:10px;
        margin: 0px 12px 0px 0px;
    }
}
.menu_française__pied_de_page-titre_et_lien {
    padding: 0px 0px 0px 26px;
    p {
        font-size: 16px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}
.menu_enchantee__pied_de_page {
    position: relative;
    top:1212px;
    color: #ffffff;
    background-color: darken($color-quatrieme, 75%);
    padding: 0px 0px 36px 0px;
    &-titre {
    padding: 22px 0px 12px 0px;
    font-size: 18px;
    font-weight: 400;
    }
    &-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:6px 0px 0px 0px;
    }
    i {
        width:10px;
        margin: 0px 12px 0px 0px;
    }
}
.menu_enchantee__pied_de_page-titre_et_lien {
    padding: 0px 0px 0px 26px;
    p {
        font-size: 16px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}
@media screen and (min-width: 850px) and (max-width: 1150px) {
    .menu-pied_de_page {
        position: absolute;
        top:1825px; left:0;
        padding: 40px 0px 40px 0px;
    }
    .menu_enchantee__pied_de_page {
        width:100%;
        position:absolute;
        top:1557px; left:0;
    }
}
@media screen and (min-width: 1150px) and (max-width: 1920px) {
    .menu__pied_de_page {
        width:100%;
        position: absolute;
        top:690px; left:0;
        padding: 40px 0px 41px 0px;
        &-titre {
            padding: 0px 0px 0px 0px;
        }
    }
    .menu_enchantee__pied_de_page {
        width:100%;
        position: absolute;
        top:692px; left:0;
    }    
}